body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #333;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 10px;
    z-index: 1;
}
.search-bar {
    position: absolute;
    left: 65%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    width: 75%;
    align-items: center;
    z-index: 1;
}
.search-bar input {
    padding: 5px;
    width: 50%;
    font-size: 14px;
}
.advanced-search-btn {
    background: #28a745; /* Зеленый цвет для контраста */
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    
}

.advanced-search-btn:hover {
    background: #218838; /* Темно-зеленый цвет при наведении */
}



.user-buttons {
    display: flex;
    gap: 30px; /* Расстояние между кнопками */
    margin-left: 85%;
    z-index: 1;
}

.user-order-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    z-index: 1;
}

.user-lk-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    z-index: 1;
}

.user-bucket-button {
    background: none;
    border: none;
    color: white;
    margin-right: 0%;
    z-index: 1;
}

.user-order-button svg {
    width: 32px;
    height: 32px;
    fill: white; /* Цвет кнопки */
}

.user-bucket-button svg {
    width: 32px;
    height: 32px;
    fill: white; /* Цвет кнопки */
}

.user-lk-button svg {
    width: 32px;
    height: 32px;
    fill: white; /* Цвет кнопки */
}


.search-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.search-button:hover {
    background: #0056b3;
}